.main-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: rgb(9,159,193);
    background: linear-gradient(233deg, rgba(9,159,193,1) 0%, rgba(0,75,233,1) 100%);
    box-shadow: inset 0px -6px 0 var(--clrPrimary3);
}

.main-header .main-nav li {
    border-inline-start: 2px solid var(--clrPrimary3);
}

.main-header .main-nav li:last-of-type {
    border-inline-end: 2px solid var(--clrPrimary3);
}

.main-header .main-nav a {
    display: grid;
    justify-content: center;
    align-items: center;

    min-width: var(--headerHeight);
    min-height: var(--headerHeight);

    transition: box-shadow 0.2s;
    will-change: box-shadow;
}

.main-header .main-nav a:hover {
    box-shadow: inset 0px -6px 0 var( --clrPrimary1);
}

.main-header .main-nav a.active {
    color: var(--clrPrimary3);
    box-shadow: inset 0px -6px 0 var(--clrPrimary3);
    cursor: default;
}
.search-bar{
    background-color: var(--clrPrimary-1);
}

.btn-toggle-menu .hamburger-lines {
    height: 26px;
    width: 32px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn-toggle-menu .hamburger-lines .line {
    height: 4px;
    width: 100%;
    background-color: black;
    transition:  0.4s ;
}
body.menu-open .btn-toggle-menu .hamburger-lines .line.line1 {
    rotate: -45deg;
    transform-origin: right top;
}

body.menu-open .btn-toggle-menu .hamburger-lines .line.line2 {
    scale: 0;
}

body.menu-open .btn-toggle-menu .hamburger-lines .line.line3 {
    rotate: 45deg;
    transform-origin: right bottom;
}