.dialog {
  background-color: var(--clrPrimary-3);
  text-align: center;
}

.dialog::backdrop{
  background-color: rgba(0, 0, 255, 0.295);
  backdrop-filter: blur(2px);
}

.dialog .modal-btn-container{
  margin-top: 2em;
}
.modal {
  flex-direction: column;
  background-color: var(--clrPrimary-3);
  padding: 1.5625rem;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
