/* MOBILE ONLY */
@media (max-width: 660px) {
    .main-layout{
        grid-template-columns: 20px 1fr 20px;
     
    }
    .main-header {
        padding: 20px 0;
        min-height: 70px;
        grid-area: 'header';
    }

    .main-header .main-nav {
        position: fixed;
        top: 70px;

        left: 0;
        width: 100%;

        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: grid-template-rows 1s;
        align-items: end;
    }

    body.menu-open .main-nav {
        grid-template-rows: 1fr;
    }

    .main-header .main-nav ul {
        grid-auto-flow: revert;
        min-height: 0;
        visibility: visible;
        background-color: var(--clrPrimary2);
    }

    .main-header .main-nav li {
        border-bottom: 1px solid #ccc;
    }

    .image-gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
    }
    .editor{
        grid-template-rows: repeat(2, 1fr); 
        grid-template-columns: 1fr; 
        grid-template-areas:
          "canvas"
          "features";
 
    }
    footer{
        grid-area: 'footer'
    }

}

/* SMALL */
@media (min-width: 660px) {
    .main-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, var(--s)) minmax(20px, 1fr);
    }
    .editor{
        grid-template-columns: minmax(auto,1fr) minmax(auto,1fr)
    }
    .btn-toggle-menu {
        display: none;
    }
}

/* MEDIUM

@media (min-width: 920px) {
    html {
        font-size: 14px;
    }

    .main-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, var(--m)) minmax(20px, 1fr);
    }
    .editor{
        grid-template-columns: minmax(auto,1fr) minmax(auto,1fr)
    }
} */

/* LARGE */
@media (min-width: 1120px) {
    html {
        font-size: 16px;
    }

    .main-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, var(--l)) minmax(20px, 1fr);
    }
    .editor{
        grid-template-columns: minmax(auto,1fr) minmax(auto,1fr)
    }
    :root {
        --headerHeight: 100px;
    }
}